<html>
<head>
    <title>Landing Page</title>
</head>
<body>
    <p>This is the landing page, the time is <span id="time">$time</span></p>
    <p>You can upload a file in the following form</p>
    <form name="upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input name="submit" type="submit" value="Upload">
    </form>
    <textarea id="content">
        $!content
    </textarea>
</body>
</html>