<html>
<head>
    <title>Landing Page</title>
</head>
<body>
    <p>This is the landing page, the time is $time</p>
    <p>You can upload a file in the following form</p>
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit">
    </form>
    <textarea>
        $!content
    </textarea>
</body>
</html>